$animationDuration: 0.8s;
$timingFn: cubic-bezier(0.18, 0.89, 0.32, 1.27);
$translateDistance: 100px;

:root{
    --y-animate-duration: #{$animationDuration};
    --y-animate-delay: 0s;
    --y-animate-timing-function: #{$timingFn};
}

@mixin animConfig {
    //default animation duration
    animation-duration: var(--y-animate-duration);
    animation-delay: var(--y-animate-delay);
    animation-timing-function: var(--y-animate-timing-function);
}

@mixin animate($animationName, $direction: normal) {
    @include animConfig;
    animation-name: $animationName;
    animation-direction: $direction;
}


